# Model
MODEL_NAME = "gemma4:e4b"
MODEL_BACKEND_URL = "http://localhost:11434/api/generate"

# Database
DB_ROOT_PASSWORD = "postgres123"
DB_URL = "localhost"
DB_PORT = "5432"

DB_USERNAME = "postgres"
DB_PASSWORD = "postgres"
DB_NAME = "rp_default"
