HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.env
*.env
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Virtual environments
env/
venv/
.venv/
.venv

*.csv
*.index
*.sqlite3
*.json
*.bin
*.jinja
*.safetensors
*.model

# Images
*.png
*.jpg

!*.drawio.png

# Ignore all user submitted media
**/receipt_parser

# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc
*.h5
*.pkl
*.cpython-311.pyc

### VS Code ###
.vscode/