{% load static %}
<main>
    <div class="img">
        <img src="{{ image_path.url }}" style="width: 50%;"/>
    </div>

    <div class="json">
        <pre id="jsoneditor"></pre>
    </div>

    <div class="controls">
        <div>
            <span>Image path: {{ image_path.url }}</span>
        </div>

        <div>
            <button class="border border-white text-white">Load Image</button>
            <button class="border border-white text-white">Reinference</button>
            <select class="border border-white text-white">
                <option>gemma4:e2b</option>
                <option>gemma4:e4b</option>
                <option>gemma4:e26b</option>
                <option>gemma4:e31b</option>
            </select>
        </div>
    </div>
</main>



<!--<div id="jsoneditor" style="height: 400px;"></div>-->

<script>
const container = document.getElementById("jsoneditor");

const options = {
    mode: "view",
    expanded: true
};

const editor = new JSONEditor(container, options);

const data = {{ receipt.receipt_resource_id_fk.raw_text_json|safe }};
editor.set(data);
</script>