{% load static %}

<div class="receipt-card">
      <div class="receipt-header">
        <div class="store-box">
            <input type="text" value="{{ receipt.store_id_fk.store_name_id_fk.store_name }}" name="store_id_fk" style="background-color:black; max-width: 100%;"/>
        </div>

        <div class="receipt-meta">
            <div>{{ receipt.store_id_fk.address }}</div>
            <div>{{ receipt.store_id_fk.city }}</div>
            <div>Receipt Date:
                <input style="background-color:black" type="text" value="{{ receipt.receipt_datetime|date:'Y-m-d\\TH:i' }}" name="receipt_datetime"/>
            </div>
            <div>Reference:
                <input style="background-color:black" type="text" value="{{ receipt.receipt_reference }}" name="receipt_reference"/>
            </div>
        </div>
    </div>

    <hr class="divider">

    <div class="items-section">
        <div class="items-header grid grid-cols-8">
            <span>Item</span>
            <span></span>
            <span>Category</span>
            <span></span>
            <span>IVA</span>
            <span>Qty</span>
            <span>UP</span>
            <span>Price</span>
        </div>

        <div class="items-body" id="receipt_items">
            {% for rel in receipt.rel_receipt_id_fk.all %}
                <div class="receipt-item-row item-row grid grid-cols-8">
                    <input type="text" class="col-span-2" id="item_name_{{ rel.id }}" name="item_name_{{ rel.id }}" value="{{ rel.item_id_fk.item_name }}" style="background-color:black" />
                    <input type="text" class="col-span-2" id="item_category_name_{{ rel.id }}" name="item_category_name_{{ rel.id }}" value="{{ rel.item_id_fk.category_id_fk.item_category_name }}" style="background-color:black" />
                    <input type="text" id="item_category_description_{{ rel.id }}" name="item_category_description_{{ rel.id }}" value="{{ rel.item_id_fk.category_id_fk.item_category_description|default:'-' }}" style="background-color:black" />
                    <input type="number" id="item_qty_{{ rel.id }}" name="item_qty_{{ rel.id }}" value="1" style="background-color:black" />
                    <input type="number" id="item_unit_price_{{ rel.id }}" name="item_unit_price_{{ rel.id }}" value="{{ rel.item_id_fk.price|floatformat:2 }}" style="background-color:black" />
                    <input type="number" id="item_total_price_{{ rel.id }}" name="item_total_price_{{ rel.id }}" value="{{ rel.item_id_fk.price|floatformat:2 }}" style="background-color:black" />
                </div>
            {% endfor %}
        </div>

<!--        <div class="item-controls">-->
<!--            <a id="add_receipt_item" onclick="addReceiptItem()" class="border border-white text-white px-4 py-2 hover:bg-white hover:text-black transition">+</a>-->
<!--            <a id="remove_receipt_item" class="border border-white text-white px-4 py-2 hover:bg-white hover:text-black transition">-</a>-->
<!--        </div>-->
    </div>

    <hr class="divider">

    <div class="receipt-footer grid grid-cols-2">
        <div class="totals grid grid-cols-3">
            <div>
                <strong>Grand Total</strong><br>
                {{ receipt.receipt_resource_id_fk.raw_text_json.financial_summary.grand_total_tax_inclusive|default:"-" }}
            </div>
            <div>
                <strong>Total IVA</strong><br>
                {{ receipt.receipt_resource_id_fk.raw_text_json.financial_summary.tax_details.vat_total|default:"-" }}
            </div>
            <div>
                <strong>Amount Paid</strong><br>
                {{ receipt.receipt_resource_id_fk.raw_text_json.financial_summary.payment_info.paid_amount|default:"-" }}
            </div>
        </div>

        <div class="notes">
            <textarea name="receipt_description" style="background-color:black; max-height: 30%;">
                {{ receipt.receipt_description|default:'No notes' }}
            </textarea>
        </div>

        <label for="payment_method_id_fk">Payment Method:</label>
        <br>
        <input type="text" value="Cash" name="payment_method_id_fk" id="payment_method_id_fk" style="background-color:black">
    </div>

    <br>

    <div style="font-family: OldEnglishTextMT">
        <button type="submit" formaction="/receipts/add_full_receipt" class="border border-white text-white px-4 py-2 hover:bg-white hover:text-black transition">
            Update Receipt
        </button>
    </div>

</div>

<div id="receiptContextMenu" style="
        display:none;
        position:absolute;
        background:#222;
        border:1px solid white;
        color:white;
        padding:4px;
        cursor:pointer;
        z-index:1000;">
    <div class="menu-item transition-opacity duration-150 hover:opacity-20" id="menuAdd">Add</div>
    <div class="menu-item transition-opacity duration-150 hover:opacity-20" id="menuDuplicate">Duplicate</div>
    <div class="menu-item transition-opacity duration-150 hover:opacity-20" id="menuMoveUp">Move Up</div>
    <div class="menu-item transition-opacity duration-150 hover:opacity-20" id="menuMoveDown">Move Down</div>
    <div class="menu-item transition-opacity duration-150 hover:opacity-20" id="menuAskIfSoslo">Soslo?</div>
    <div class="menu-item transition-opacity duration-150 hover:opacity-20" id="menuDelete">Delete</div>
</div>

<script>
    var newItemsAddedCounter = 0;

    function addReceiptItem() {

        const newItem =
            '<div class="receipt-item-row item-row grid grid-cols-8">' +
            '    <input type="text" class="col-span-2" id="item_name_new_' + newItemsAddedCounter + '" name="item_name_new_' + newItemsAddedCounter + '" value="New Item" style="background-color:black" />' +
            '    <input type="text" class="col-span-2" id="item_category_name_new_' + newItemsAddedCounter + '" name="item_category_name_new_' + newItemsAddedCounter + '" value="0" style="background-color:black" />' +
            '    <input type="text" id="item_category_description_new_' + newItemsAddedCounter + '" name="item_category_description_new_' + newItemsAddedCounter + '" value="-" style="background-color:black" />' +
            '    <input type="number" id="item_qty_new_' + newItemsAddedCounter + '" name="item_qty_new_' + newItemsAddedCounter + '" value="1" style="background-color:black" />' +
            '    <input type="number" id="item_unit_price_new_' + newItemsAddedCounter + '" name="item_unit_price_new_' + newItemsAddedCounter + '" value="0" style="background-color:black" />' +
            '    <input type="number" id="item_total_price_new_' + newItemsAddedCounter + '" name="item_total_price_new_' + newItemsAddedCounter + '" value="0" style="background-color:black" />' +
            '</div>';

        selectedRow.insertAdjacentHTML("afterend", newItem);

        newItemsAddedCounter++;
    }

    const menu = document.getElementById("receiptContextMenu");

    let selectedRow = null;
    document.addEventListener("contextmenu", function (e) {

        if(selectedRow != null){
            selectedRow.style = "none"
        }

        const row = e.target.closest(".receipt-item-row");

        if (!row)
            return;

        e.preventDefault();
        selectedRow = row;

        selectedRow.style = "border-style: dotted; border-width: 3px; border-color: red;"

        menu.style.left = e.pageX + "px";
        menu.style.top = e.pageY + "px";
        menu.style.display = "block";
    });

    document.addEventListener("click", function () {
        selectedRow.style = "none"

        menu.style.display = "none";
    });

    document.getElementById("menuDelete").addEventListener("click", function () {

        if (selectedRow)
            selectedRow.remove();

        menu.style.display = "none";
    });

    document.getElementById("menuAskIfSoslo").addEventListener("click", function () {
        confirm("https://youtu.be/o5TrzdJ9Xss?si=0iZxyyRTM5rYPjfc");
        menu.style.display = "none";
    });

    document.getElementById("menuAdd").addEventListener("click", function () {
        menu.style.display = "none";
        addReceiptItem()
    });
</script>