<!DOCTYPE html>
{% load static %}

<style>
@font-face {
    font-family: 'OldEnglishTextMT';
    src: url("{% static 'fonts/OldEnglishTextMT.ttf' %}") format('truetype');
}
</style>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>ReceiptParser - Home</title>

        <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous">
        </script>

        <link rel="icon" type="image/x-icon" href="{% static 'icons/main_icon.png' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/jsoneditor@9.10.0/dist/jsoneditor.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/jsoneditor@9.10.0/dist/jsoneditor.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous">
        </script>
</head>
<body style="font-family:'OldEnglishTextMT'; background-color:black; color:navajowhite">

<main class="layout">
    <div class="sidebar">
        {% include "components/navbar.html" %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</main>

</body>
</html>