{% extends "base.html" %}
{% load static %}

{% block title %}Receipt Parser - Add Receipt{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/echarts@6/dist/echarts.min.js"></script>

<main>
    <div style="text-align:center">
        <h1 class='hero glitch layers' data-text='Dashboard'>Dashboard</h1>
    </div>

    <div class="grid grid-cols-2">
        <div id="categorySpendingChart" style="width:800px; height:500px;"></div>
        <div id="storeSpendingChart" style="width:800px; height:500px;"></div>
    </div>

    <div class="grid grid-cols-2">
        <div id="itemSpendingChart" style="width:800px; height:500px;"></div>
        <div id="monthlySpendingChart" style="width:800px; height:500px;"></div>
    </div>

    <br>
    <div style="text-align:center">
        <h1 class='hero glitch layers' data-text='Yearly Spending'>Yearly Spending</h1>
    </div>
    <br>

    <div id="calendarContainer" style="width:100%; height:15rem;"> </div>

    <div id="receipt-modal"
         class="fixed inset-0 bg-black/70 hidden items-center justify-center z-50" onclick="closeModal()">

        <div class="bg-zinc-900 border border-zinc-700 w-3/4 max-w-4xl rounded-lg p-6 relative"
             onclick="event.stopPropagation()"
             style="overflow: auto; max-width: 50rem; max-height: 50rem;"
        >

            <button onclick="closeModal()"
                    class="absolute top-3 right-3 text-white text-xl">
                ✕
            </button>

            <div id="modal-content" class="text-white">
                Loading...
            </div>
        </div>
    </div>
</main>

{{ receipt_lookup|json_script:"receipt-data" }}

<script>

function create_spending_chart(id, name, data, type){
    const store_spending_chart = echarts.init(document.getElementById(id));

    let adapted_spending_data_values = [];
    let adapted_spending_data_names = [];

    for (let i = 0; i < data.length; i++) {
        adapted_spending_data_values[i] = data[i].value;
        adapted_spending_data_names[i] = data[i].name;
    }

    const store_spending_chart_option = {
        title: {
            text: name,
            textStyle: {
                color: "white",
                fontSize: 24,
                fontFamily: "Consolas"
            }
        },

        tooltip: {
            trigger: "item",
            backgroundColor: "#222",
            borderColor: "#777",
            borderWidth: 2,
            textStyle: {
                color: "#fff"
            },
            formatter: function (params) {
                return `
                    <span style="
                        display:inline-block;
                        width:12px;
                        height:12px;
                        background:${params.color};
                        border-radius:50%;
                        margin-right:6px;
                    "></span>
                    <b>${params.name}</b><br>
                    € ${params.value}
                    (${params.percent}%)
                `;
            }
        },

        label: {
            backgroundColor: "#222",
            color: "white"
        },

        xAxis: {
            type: 'category',
            data: adapted_spending_data_names,
            axisLabel: {
                color: "#ffffff",
                fontSize: 14,
                fontFamily: "Consolas",
                fontWeight: "bold"
            }
        },

        yAxis: {
            type: 'value',
            axisLabel: {
                color: "#ffffff",
                fontSize: 14,
                fontFamily: "Consolas",
                fontWeight: "bold"
            }
        },

        series: [{
            type: type,
            data: data
        }]
    }

    store_spending_chart.setOption(store_spending_chart_option);
}

// Per Store Spending Chart
const store_spending_data = {{ store_spending_data|safe }}
const store_spending_chart_title = 'Monthly Spending per Store'
create_spending_chart("storeSpendingChart", store_spending_chart_title, store_spending_data, "pie")

// Per Category Spending Chart
const category_spending_data = {{ pie_data|safe }}
const category_spending_chart_title = 'Monthly Spending per Category'
create_spending_chart("categorySpendingChart", category_spending_chart_title, category_spending_data, "pie")

// Per Item Spending Chart
const item_spending_data = {{ item_spending_data|safe }}
const item_spending_chart_title = 'Monthly Spending per Item'
create_spending_chart("itemSpendingChart", item_spending_chart_title, item_spending_data, "pie")

// Per Month Spending Chart
const monthly_spending_data = {{ monthly_spending_data|safe }}
const monthly_spending_chart_title = 'Monthly Spending'
create_spending_chart("monthlySpendingChart", monthly_spending_chart_title, monthly_spending_data, "bar")

const calendar_spending_data = {{ calendar_spending_data|safe }}

const receiptLookup = JSON.parse(document.getElementById("receipt-data").textContent);

let created_calendars_counter = 0;

function create_spending_calendar_chart(daterange){
    created_calendars_counter++;

    const calendar_container = document.getElementById("calendarContainer");
    let new_chart_id = `spending_calendar_chart_${created_calendars_counter}`

    const new_calendar = `<div style="width:100%; height:15rem;"` +
                            `id=${new_chart_id}>` +
                        `</div>`;

    calendar_container.insertAdjacentHTML("beforeend", new_calendar);

    const calendar_spending_chart = echarts.init(document.getElementById(new_chart_id));

    const option = {
        visualMap: {
            min: 0,
            max: 100,
            orient: "horizontal",
            left: "center",
            bottom: 20
        },
        calendar: {
            range: daterange,
            cellSize: ["auto", 25],
            yearLabel: { color: '#fff' },
            monthLabel: { color: '#fff' },
            dayLabel: { color: '#fff' }
        },
        tooltip: {
            backgroundColor: "#222",
            formatter: function(params) {

                const day = params.value[0];
                const info = receiptLookup[day];

                if (!info)
                    return day + "<br>No receipts";

                let html =
                    `<div style='background-color: #222; color: white'><b>${day}</b><br>` +
                    `Total: €${info.total}<div>`;


                // todo fix
                if(typeof(info.receipts) != "undefined"){
                    info.receipts.forEach(function(r) {
                        html += `${r.store}: €${r.amount}<br>`;
                    });
                }
                return html;
            }
        },

        series: [{
            type: "heatmap",
            coordinateSystem: "calendar",
            data: calendar_spending_data
        }]

    };

    calendar_spending_chart.setOption(option);

    calendar_spending_chart.on('click', function(params) {

        const day = params.value[0];
        document.getElementById('receipt-modal')
            .classList.remove('hidden');

        document.getElementById('receipt-modal')
            .classList.add('flex');

        htmx.ajax(
            'GET',
            `/receipts/day/${day}/`,
            '#modal-content'
        );
    });
}

{% for year in date_ranges.years %}
    create_spending_calendar_chart(["{{ year }}-01","{{ year }}-12"])
{% endfor %}

function closeModal() {

    document.getElementById('receipt-modal')
        .classList.add('hidden');

    document.getElementById('receipt-modal')
        .classList.remove('flex');
}

document.addEventListener("keydown", function (e) {
    if (e.key === "Escape") {
        closeModal();
    }
});

</script>
{% endblock %}