{% extends "base.html" %}
{% load static %}

{% block title %}Receipt Parser - Add Receipt{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/echarts@6/dist/echarts.min.js"></script>

<main>
    <h1>Dashboard</h1>

    <div class="grid grid-cols-2">
            <div id="categorySpendingChart" style="width:800px; height:500px;"></div>
            <div id="storeSpendingChart" style="width:800px; height:500px;"></div>
    </div>

    <div class="grid grid-cols-2">
        <div id="itemSpendingChart" style="width:800px; height:500px;"></div>
        <div id="monthlySpendingChart" style="width:800px; height:500px;"></div>
    </div>

</main>

<script>

function create_spending_chart(id, name, data, type){
    const store_spending_chart = echarts.init(document.getElementById(id));

    let adapted_spending_data_values = [];
    let adapted_spending_data_names = [];

    for (let i = 0; i < data.length; i++) {
        adapted_spending_data_values[i] = data[i].value;
        adapted_spending_data_names[i] = data[i].name;
    }

    const store_spending_chart_option = {
        title: {
            text: name,
            textStyle: {
                color: "white",
                fontSize: 24,
                fontFamily: "Consolas"
            }
        },

        tooltip: {
            trigger: "item",
            backgroundColor: "#222",
            borderColor: "#777",
            borderWidth: 2,
            textStyle: {
                color: "#fff"
            },
            formatter: function (params) {
                return `
                    <span style="
                        display:inline-block;
                        width:12px;
                        height:12px;
                        background:${params.color};
                        border-radius:50%;
                        margin-right:6px;
                    "></span>
                    <b>${params.name}</b><br>
                    € ${params.value}
                    (${params.percent}%)
                `;
            }
        },

        label: {
            backgroundColor: "#222",
            color: "white"
        },

        xAxis: {
            type: 'category',
            data: adapted_spending_data_names,
            axisLabel: {
                color: "#ffffff",
                fontSize: 14,
                fontFamily: "Consolas",
                fontWeight: "bold"
            }
        },

        yAxis: {
            type: 'value',
            axisLabel: {
                color: "#ffffff",
                fontSize: 14,
                fontFamily: "Consolas",
                fontWeight: "bold"
            }
        },

        series: [{
            type: type,
            data: data
        }]
    }

    store_spending_chart.setOption(store_spending_chart_option);
}

// Per Store Spending Chart
const store_spending_data = {{ store_spending_data|safe }}
const store_spending_chart_title = 'Monthly Spending per Store'
create_spending_chart("storeSpendingChart", store_spending_chart_title, store_spending_data, "pie")

// Per Category Spending Chart
const category_spending_data = {{ pie_data|safe }}
const category_spending_chart_title = 'Monthly Spending per Category'
create_spending_chart("categorySpendingChart", category_spending_chart_title, category_spending_data, "pie")

// Per Item Spending Chart
const item_spending_data = {{ item_spending_data|safe }}
const item_spending_chart_title = 'Monthly Spending per Item'
create_spending_chart("itemSpendingChart", item_spending_chart_title, item_spending_data, "pie")

// Per Month Spending Chart
const monthly_spending_data = {{ monthly_spending_data|safe }}
const monthly_spending_chart_title = 'Monthly Spending'
create_spending_chart("monthlySpendingChart", monthly_spending_chart_title, monthly_spending_data, "bar")


</script>
{% endblock %}