{% load static %}

<style>
@font-face {
    font-family: 'OldEnglishTextMT';
    src: url("{% static 'fonts/OldEnglishTextMT.ttf' %}") format('truetype');
}
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReceiptParser - Home</title>

        <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous">
    </script>
</head>
<body style="font-family:'OldEnglishTextMT'; background-color:black; color:navajowhite" onload="startStream()">

<h1>Parsing your Receipts</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>

<div>
    <h1>Model Response</h1>

    <div id="stream-container">

    </div>
    <img src="{{ image_path.url }}" style="width: 20rem;"/>
</div>

<script>
function startStream() {
    const evtSource = new EventSource("/stream/");
    console.log("Starting Stream")

    let output = "";

    evtSource.onmessage = function(event) {
        console.log(event.data)
        output += event.data;
        document.getElementById("stream-container").innerText = output;
    };

    evtSource.onerror = function() {
        console.log("Error streaming")
        evtSource.close();
    };
}
</script>
</body>
</html>