{% extends "base.html" %}
{% load static %}

{% block title %}Receipt Parser - Add Receipt{% endblock %}

{% block content %}
    <div style="text-align:center">
        <h1 class='hero glitch layers' data-text='Products Catalog'>Products Catalog</h1>
    </div>

    <br>
    <br>

    <main style="font-family: 'JetBrains Mono Variable', monospace;">
        <div class="grid grid-cols-3">
            {% for store in stores_list %}
                <div style="text-align: center" onclick="openStoresModal({{ store.store_id }})" >
                    <span>{{ store.store_name_id_fk.store_name }}</span>
                    <p>
                        {% if store.address == "" %}
                            <span style="color: red">Not Available</span>
                        {% else %}
                            <span>{{ store.address }}</span>
                        {% endif %}

                        -

                        {% if store.city == "" %}
                            <span style="color: red">Not Available</span>
                        {% else %}
                            <span>{{ store.city }}</span>
                        {% endif %}

                    </p>
                    <p> {{  store.product_count }} Associated Products</p>
                    <p> {{  store.receipt_count }}  Associated Receipts</p>
                </div>

                <br>
                {% empty %}
                <div>
                    <h2>There are no stores registered in the system yet....</h2>
                </div>
            {% endfor %}
        </div>

        <div id="store-modal"
             class="fixed inset-0 bg-black/70 hidden items-center justify-center z-50" onclick="closeModal()">

            <div class="bg-zinc-900 border border-zinc-700 w-3/4 max-w-4xl rounded-lg p-6 relative"
                 onclick="event.stopPropagation()"
                 style="overflow: auto; max-width: 70rem; max-height: 70rem;">

                <button onclick="closeModal()"
                        class="absolute top-3 right-3 text-white text-xl">
                    ✕
                </button>

                <div id="modal-content" class="text-white">
                    Loading...
                </div>
            </div>
        </div>
    </main>

<script>
    const modal_name = 'store-modal'

    function openStoresModal(storeId) {
        document.getElementById(modal_name).classList.remove('hidden');
        document.getElementById(modal_name).classList.add('flex');

        htmx.ajax(
            'GET',
            `products_catalog/stores/${storeId}/`,
            '#modal-content'
        );
    }

    function closeModal() {
        document.getElementById(modal_name).classList.add('hidden');
        document.getElementById(modal_name).classList.remove('flex');
    }

    document.addEventListener("keydown", function (e) {
        if (e.key === "Escape") {
            closeModal();
        }
    });
</script>
{% endblock %}