{% extends "base.html" %}
{% load static %}

{% block title %}Receipt Parser - Add Receipt{% endblock %}

{% block content %}
    <div style="text-align:center">
        <h1 class='hero glitch layers' data-text='Products Catalog'>Products Catalog</h1>
    </div>

    <main>
        {% for store_name in store_names %}
            <div>
                <span>{{ store_name.store_name }}</span>
            </div>
            {% empty %}
            <div><h2>There are no stores registered in the system yet....</h2></div>
        {% endfor %}
    </main>
{% endblock %}